/webapi/appsettings.json
/webapi/bin
/webapi/obj
/reactapp/obj
/reactapp/package-lock.json
/.vs/ReactAspNetCore/FileContentIndex/*.vsidx
/.idea
/webapi/publish
/webapi/forecast_deploy.sh
/node_modules
