.slide-item {
    background-image: url("https://openweathermap.org/themes/openweathermap/assets/img/spring1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin: 0;
    height: 160px;
    min-height: 250px;
    width: 100%;
    color: #fff;
}

.slide-item-1 {
    background-image: url("https://openweathermap.org/themes/openweathermap/assets/img/spring1.jpg");
}

.slide-item-2 {
    background-image: url("https://openweathermap.org/themes/openweathermap/assets/img/winter6.jpg");
}

.slide-item-3 {
    background-image: url("https://wallpapercave.com/wp/wp10154430.jpg");
}

